* {
  box-sizing: border-box;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;

  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

form {
  width: 400px;
}

/* Code for exercise 01-navbar */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--black);
  justify-content: flex-end;
  top: -19px;
  position: relative;
  padding: 0 10px;
}
.listItem {
  list-style-type: none;
  padding: 15px;
}
.listItem:hover {
  background-color: var(--violetred);
}
.navLink {
  color: var(--white);
  text-decoration: none;
  padding: 15px 12px;
}

/* Code for exercise 02-cards */
.cardList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.card {
  padding: 20px;
  flex: 1;
  border: 1px solid #000000;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.card__image {
  height: 200px;
  width: 200px;
}
.card__desc {
  padding: 10px 0;
}
.card__button {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  border: none;
  height: 40px;
  cursor: pointer;
}
.card__button:hover {
  background-color: var(--violetred);
}
/* Code for exercise 03-table */
.table {
  margin: 0 auto;
}
.table__header {
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
}
.table__rowHead {
  padding: 15px;
  background-color: var(--violetred);
  color: var(--white);
}
.row--black {
  background-color: var(--black);
}
.table__rowData {
  padding: 15px;
  border: 1px solid #000000;
}
.table__bodyRow:hover {
  background-color: var(--orange);
}

/* Code for exercise 04-form */

.formContainer {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.form {
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 5px;
}
.form__subheading {
  margin: 0;
  font-size: 16px;
}
.form__title {
  margin-bottom: 0;
}
.form__field {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
}
.field__label {
  font-weight: 600;
}
.field__input {
  height: 22px;
  width: 60%;
  padding: 3px;
}
.form__fieldset {
  border: none;
  all: unset;
  margin: 10px 0;
}
.input__radio {
  font-size: 10px;
}
.form__button {
  padding: 10px 0;
}
.button__submit {
  background-color: var(--black);
  color: var(--white);
  width: 48%;
  padding: 10px;
  border: none;
  font-weight: 600;
  font-size: 14px;
}
.button__submit:hover {
  background-color: var(--violetred);
}
.button__reset {
  width: 48%;
  padding: 10px;
  border-radius: 0;
  border: 1px solid #000000;
  background-color: var(--white);
}
.button__reset:hover {
  background-color: var(--gray);
}
