* {
  box-sizing: border-box;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;

  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

form {
  width: 400px;
}

/* Code for exercise 01-navbar */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--black);
  justify-content: flex-end;
  top: -19px;
  position: relative;
  padding: 0 10px;
}
.listItem {
  list-style-type: none;
  padding: 15px;
}
.listItem:hover {
  background-color: var(--violetred);
}
.navLink {
  color: var(--white);
  text-decoration: none;
  padding: 15px 12px;
}

/* Code for exercise 02-cards */

/* Code for exercise 03-table */

/* Code for exercise 04-form */
